body {
    font-family: 'Arial', sans-serif;
    background-color: #c0e2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #6dc2e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

img.author-image {
    max-width: 100%;
    border-radius: 50%; /* Da bi slika bila okrugla */
    margin-bottom: 15px;
}

h1 {
    color: #ffffff;
}

audio {
    width: 100%;
    margin-top: 20px;
}


audio::-webkit-media-controls-panel {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-time-remaining-display {
    color: #333;
}
